# >> Docker compose env
# NapCat
# 运行 id -u 和 id -g 查看你的实际值
NAPCAT_UID=<your-uid>
NAPCAT_GID=<your-gid>

# nonebot2 的 docker compose 如果使用环境变量 HOST 和 PORT 可使用这个传入参数
# NONEBOT2_HOST=0.0.0.0
# NONEBOT2_PORT=5680